{% assign url = page.url | remove: 'index.html' %}
<h2 class="genesis-sidebar-title screen-reader-text">Primary Sidebar</h2>
<section id="nav_menu-3" class="widget widget_nav_menu">
  <div class="widget-wrap">
    <h3 class="widgettitle widget-title">About</h3>
      <div class="menu-about-container">
        <ul id="menu-about" class="menu">

        {% for link in site.data.nav %}

          {% if link.title == "About" %}

            {% for subcategory in link.subcategories %}

              <li class="menu-item menu-item-type-post_type menu-item-object-page{% if url contains subcategory.href %} current-menu-item current_page_item{% endif %}">
                <a href="{{ subcategory.href | prepend: site.baseurl }}" class="about" itemprop="url">{{ subcategory.subtitle }}</a>
              </li>

            {% endfor %}

          {% endif %}
        {% endfor %}

        </ul>
      </div>
  </div>
</section>

<section id="twitter_timeline-2" class="widget widget_twitter_timeline">
  <div class="widget-wrap">
    <h3 class="widgettitle widget-title">Follow our progress</h3>
    <a class="twitter-timeline" data-theme="light" data-link-color="#1F4E9A" data-border-color="#e8e8e8" data-tweet-limit="3" data-lang="EN" data-partner="jetpack" data-chrome="noheader noborders transparent" href="https://twitter.com/Fit_to_Study">My Tweets</a>
  </div>
</section>
