<footer class="site-footer" itemscope="" itemtype="https://schema.org/WPFooter"><div class="wrap">
    <ul class="logo-section">
      <li><a href="https://educationendowmentfoundation.org.uk/" title="Education Endowment Foundation"><img src="/assets/images/partnerlogo-eef.png" alt="Education Endowment Foundation logo" class=""></a></li>
      <li><a href="https://wellcome.ac.uk" target="new" title="Wellcome"><img src="/assets/images/partnerlogo-wellcome.png" alt="Wellcome logo" class=""></a></li>
      <li><a href="http://www.ox.ac.uk/" target="new" title="University of Oxford"><img src="/assets/images/partnerlogo-oxford.png" alt="University of Oxford logo" class=""></a></li>
      <li><a href="http://www.brookes.ac.uk/" target="new" title="Oxford Brookes University"><img src="/assets/images/partnerlogo-brookes.png" alt="Oxford Brookes University logo" class=""></a></li>
      <li><a href="http://www.birmingham.ac.uk/" target="new" title="University of Birmingham"><img src="/assets/images/partnerlogo-birmingham.png" alt="University of Birmingham logo" class=""></a></li>

    </ul>
    <p>Funded by the Education and Neuroscience Programme. Grant Ref. 2681</p>


      <div class="creds">
    <p>

      Site managed by ©&nbsp;2017–2019 <a href="https://www.eyedivision.com" rel="nofollow">Eye Division</a>    </p>
  </div>
  </div></footer>
  <script type='text/javascript' src='/js/all.js?ver=1.4.0'></script>