<div class="site-container">

  <ul class="genesis-skip-link"><li><a href="#genesis-nav-primary" class="screen-reader-shortcut"> Skip to primary navigation</a></li><li><a href="#genesis-content" class="screen-reader-shortcut"> Skip to content</a></li><li><a href="#genesis-sidebar-primary" class="screen-reader-shortcut"> Skip to primary sidebar</a></li><li><a href="#genesis-footer-widgets" class="screen-reader-shortcut"> Skip to footer</a></li></ul>

  <header class="site-header" itemscope itemtype="https://schema.org/WPHeader">
    <div class="wrap">
      <button type="button" class="js-menu-trigger sliding-panel-button" aria-expanded="false">
      <span class="sliding-panel-button-text">Menu</span>
      <img src="/assets/images/icons/menu-white.png" alt="Menu Icon">
    </button>
    <div class="menu-top-menus-container">
      <ul id="menu-top-menus" class="js-menu sliding-panel-content">
        <li id="menu-item-159" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-159"><a href="/" itemprop="url">Home</a></li>
        <li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-19 current_page_item menu-item-has-children menu-item-117"><a href="/about/" itemprop="url">About</a>
          <ul class="sub-menu">
            <li id="menu-item-124" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-124"><a href="/about/introduction/" itemprop="url">Introduction</a></li>
            <li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123"><a href="/about/objectives/" itemprop="url">Objectives</a></li>
            <li id="menu-item-122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-122"><a href="/about/scope/" itemprop="url">Scope</a></li>
            <li id="menu-item-121" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121"><a href="/about/methods/" itemprop="url">Methods</a></li>
            <li id="menu-item-120" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-120"><a href="/about/study-area/" itemprop="url">Study area</a></li>
            <li id="menu-item-119" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119"><a href="/about/national-importance/" itemprop="url">National importance</a></li>
            <li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118"><a href="/about/our-supporters/" itemprop="url">Our partners</a></li>
          </ul>
          </li>
          <li id="menu-item-959" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-959"><a href="/the-assessments/" itemprop="url">The Assessments</a>
          <ul class="sub-menu">
            <li id="menu-item-963" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-963"><a href="/the-assessments/fitness-assessment/" itemprop="url">Fitness assessment</a></li>
            <li id="menu-item-962" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-962"><a href="/the-assessments/physical-activity-monitoring/" itemprop="url">Physical activity monitoring</a></li>
            <li id="menu-item-961" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-961"><a href="/the-assessments/online-questionnaire/" itemprop="url">Questionnaire: about you!</a></li>
            <li id="menu-item-960" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-960"><a href="/the-assessments/online-cognitive-assessment/" itemprop="url">Computer challenges</a></li>
          </ul>
          </li>
          <li id="menu-item-1075" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1075"><a href="/mri-sub-study/" itemprop="url">Brain imaging sub-study</a>
          <ul class="sub-menu">
            <li id="menu-item-1076" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1076"><a href="/mri-sub-study/what-is-mri/" itemprop="url">About MRI</a></li>
            <li id="menu-item-1082" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1082"><a href="/mri-sub-study/preparing-for-the-scan/" itemprop="url">Preparing for the scan</a></li>
            <li id="menu-item-1081" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1081"><a href="/mri-sub-study/information-packs/" itemprop="url">Information packs</a></li>
            <li id="menu-item-1077" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1077"><a href="/mri-sub-study/brain-facts/" itemprop="url">Brain facts</a></li>
            <li id="menu-item-1080" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1080"><a href="/mri-sub-study/faqs/" itemprop="url">FAQs</a></li>
            <li id="menu-item-1078" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1078"><a href="/mri-sub-study/contact-details/" itemprop="url">Contact details</a></li>
            <li id="menu-item-1079" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1079"><a href="/mri-sub-study/directions-to-fmrib/" itemprop="url">Directions to FMRIB</a></li>
          </ul>
          </li>
          <li id="menu-item-1040" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1040"><a href="/independent-evaluation/" itemprop="url">Independent Evaluation</a></li>
          <li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-116"><a href="/meet-the-team/" itemprop="url">Meet the team</a>
          <ul class="sub-menu">
            <li id="menu-item-133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133"><a href="/meet-the-team/heidi-johansen-berg/" itemprop="url">Heidi Johansen-Berg</a></li>
            <li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-132"><a href="/meet-the-team/helen-dawes/" itemprop="url">Helen Dawes</a></li>
            <li id="menu-item-134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a href="/meet-the-team/nick-beale/" itemprop="url">Nick Beale</a></li>
            <li id="menu-item-679" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-679"><a href="/meet-the-team/emily-curtis/" itemprop="url">Emily Curtis</a></li>
            <li id="menu-item-678" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-678"><a href="/meet-the-team/emma-eldridge/" itemprop="url">Emma Eldridge</a></li>
            <li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128"><a href="/meet-the-team/andy-meaney/" itemprop="url">Andy Meaney</a></li>
            <li id="menu-item-680" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-680"><a href="/meet-the-team/emily-plester/" itemprop="url">Emily Plester</a></li>
            <li id="menu-item-677" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-677"><a href="/meet-the-team/jack-possee/" itemprop="url">Jack Possee</a></li>
            <li id="menu-item-131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-131"><a href="/meet-the-team/catherine-wheatley/" itemprop="url">Catherine Wheatley</a></li>
            <li id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-129"><a href="/meet-the-team/piergiorgio-salvan/" itemprop="url">Piergiorgio Salvan</a></li>
            <li id="menu-item-130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-130"><a href="/meet-the-team/thomas-wassenaar/" itemprop="url">Thomas Wassenaar</a></li>
            <li id="menu-item-729" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-729"><a href="/meet-the-team/natcen-social-research/" itemprop="url">NatCen Social Research</a></li>
          </ul>
          </li>
          <li id="menu-item-115" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-115"><a href="/outputs/" itemprop="url">Outputs</a>
          <ul class="sub-menu">
            <li id="menu-item-303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-303"><a href="/outputs/project-information-sheets/" itemprop="url">Information Sheets</a></li>
            <li id="menu-item-305" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-305"><a href="/outputs/newsletters/" itemprop="url">Newsletters</a></li>
            <li id="menu-item-306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-306"><a href="/outputs/presentations/" itemprop="url">Presentations</a></li>
            <li id="menu-item-302" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-302"><a href="/outputs/project-events/" itemprop="url">Project Events</a></li>
            <li id="menu-item-312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-312"><a href="/outputs/publications/" itemprop="url">Publications</a></li>
            <li id="menu-item-304" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-304"><a href="/outputs/videos/" itemprop="url">Videos</a></li>
          </ul>
          </li>
          <li id="menu-item-114" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-114"><a href="/media-mentions/" itemprop="url">Media mentions</a></li>
          <li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113"><a href="/contact/" itemprop="url">Contact</a></li>
          </ul>
        </div>
        <div class="js-menu-screen sliding-panel-fade-screen"></div>

        <div class="title-area">
          <p class="site-title" itemprop="headline"><a href="/"><img src="/assets/images/fit_to_study_logo.png" alt="Fit to Study Homepage"></a></p>
        </div>
        <nav class="nav-primary" aria-label="Main" itemscope="" itemtype="https://schema.org/SiteNavigationElement" id="genesis-nav-primary" role="navigation">
          <ul id="menu-top-menus-1" class="menu genesis-nav-menu menu-primary"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-159 nav-item"><a href="/" itemprop="url" id="accessible-primary-nav-1555077683021-2" role="group" aria-expanded="false" aria-hidden="true" class="sub-menu-panel"><span itemprop="name">Home</span></a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-19 current_page_item menu-item-has-children menu-item-117 nav-item"><a href="/about/" itemprop="url"><span itemprop="name">About</span></a>
          <div class="sub-menu-panel" id="accessible-primary-nav-1555077683025-4" role="group" aria-expanded="false" aria-hidden="true"><ul class="sub-menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-124"><a href="/about/introduction/" itemprop="url"><span itemprop="name">Introduction</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123"><a href="/about/objectives/" itemprop="url"><span itemprop="name">Objectives</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-122"><a href="/about/scope/" itemprop="url"><span itemprop="name">Scope</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121"><a href="/about/methods/" itemprop="url"><span itemprop="name">Methods</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-120"><a href="/about/study-area/" itemprop="url"><span itemprop="name">Study area</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119"><a href="/about/national-importance/" itemprop="url"><span itemprop="name">National importance</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118"><a href="/about/our-supporters/" itemprop="url"><span itemprop="name">Our partners</span></a></li>
          </ul></div>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-959 nav-item"><a href="/the-assessments/" itemprop="url"><span itemprop="name">The Assessments</span></a>
          <div class="sub-menu-panel" id="accessible-primary-nav-1555077683029-6" role="group" aria-expanded="false" aria-hidden="true"><ul class="sub-menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-963"><a href="/the-assessments/fitness-assessment/" itemprop="url"><span itemprop="name">Fitness assessment</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-962"><a href="/the-assessments/physical-activity-monitoring/" itemprop="url"><span itemprop="name">Physical activity monitoring</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-961"><a href="/the-assessments/online-questionnaire/" itemprop="url"><span itemprop="name">Questionnaire: about you!</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-960"><a href="/the-assessments/online-cognitive-assessment/" itemprop="url"><span itemprop="name">Computer challenges</span></a></li>
          </ul></div>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1075 nav-item"><a href="/mri-sub-study/" itemprop="url"><span itemprop="name">Brain imaging sub-study</span></a>
          <div class="sub-menu-panel" id="accessible-primary-nav-1555077683031-8" role="group" aria-expanded="false" aria-hidden="true"><ul class="sub-menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1076"><a href="/mri-sub-study/what-is-mri/" itemprop="url"><span itemprop="name">About MRI</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1082"><a href="/mri-sub-study/preparing-for-the-scan/" itemprop="url"><span itemprop="name">Preparing for the scan</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1081"><a href="/mri-sub-study/information-packs/" itemprop="url"><span itemprop="name">Information packs</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1077"><a href="/mri-sub-study/brain-facts/" itemprop="url"><span itemprop="name">Brain facts</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1080"><a href="/mri-sub-study/faqs/" itemprop="url"><span itemprop="name">FAQs</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1078"><a href="/mri-sub-study/contact-details/" itemprop="url"><span itemprop="name">Contact details</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1079"><a href="/mri-sub-study/directions-to-fmrib/" itemprop="url"><span itemprop="name">Directions to FMRIB</span></a></li>
          </ul></div>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1040 nav-item"><a href="/independent-evaluation/" itemprop="url" id="accessible-primary-nav-1555077683032-10" role="group" aria-expanded="false" aria-hidden="true" class="sub-menu-panel"><span itemprop="name">Independent Evaluation</span></a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-116 nav-item"><a href="/meet-the-team/" itemprop="url"><span itemprop="name">Meet the team</span></a>
        <div class="sub-menu-panel" id="accessible-primary-nav-1555077683036-12" role="group" aria-expanded="false" aria-hidden="true">
          <ul class="sub-menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133"><a href="/meet-the-team/heidi-johansen-berg/" itemprop="url"><span itemprop="name">Heidi Johansen-Berg</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-132"><a href="/meet-the-team/helen-dawes/" itemprop="url"><span itemprop="name">Helen Dawes</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a href="/meet-the-team/nick-beale/" itemprop="url"><span itemprop="name">Nick Beale</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-679"><a href="/meet-the-team/emily-curtis/" itemprop="url"><span itemprop="name">Emily Curtis</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-678"><a href="/meet-the-team/emma-eldridge/" itemprop="url"><span itemprop="name">Emma Eldridge</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128"><a href="/meet-the-team/andy-meaney/" itemprop="url"><span itemprop="name">Andy Meaney</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-680"><a href="/meet-the-team/emily-plester/" itemprop="url"><span itemprop="name">Emily Plester</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-677"><a href="/meet-the-team/jack-possee/" itemprop="url"><span itemprop="name">Jack Possee</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-131"><a href="/meet-the-team/catherine-wheatley/" itemprop="url"><span itemprop="name">Catherine Wheatley</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-129"><a href="/meet-the-team/piergiorgio-salvan/" itemprop="url"><span itemprop="name">Piergiorgio Salvan</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-130"><a href="/meet-the-team/thomas-wassenaar/" itemprop="url"><span itemprop="name">Thomas Wassenaar</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-729"><a href="/meet-the-team/natcen-social-research/" itemprop="url"><span itemprop="name">NatCen Social Research</span></a></li>
          </ul></div>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-115 nav-item"><a href="/outputs/" itemprop="url"><span itemprop="name">Outputs</span></a>
          <div class="sub-menu-panel" id="accessible-primary-nav-1555077683038-14" role="group" aria-expanded="false" aria-hidden="true"><ul class="sub-menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-303"><a href="/outputs/project-information-sheets/" itemprop="url"><span itemprop="name">Information Sheets</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-305"><a href="/outputs/newsletters/" itemprop="url"><span itemprop="name">Newsletters</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-306"><a href="/outputs/presentations/" itemprop="url"><span itemprop="name">Presentations</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-302"><a href="/outputs/project-events/" itemprop="url"><span itemprop="name">Project Events</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-312"><a href="/outputs/publications/" itemprop="url"><span itemprop="name">Publications</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-304"><a href="/outputs/videos/" itemprop="url"><span itemprop="name">Videos</span></a></li>
          </ul></div>
        </li>

        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-114 nav-item"><a href="/media-mentions/" itemprop="url" id="accessible-primary-nav-1555077683038-16" role="group" aria-expanded="false" aria-hidden="true" class="sub-menu-panel"><span itemprop="name">Media mentions</span></a></li>

        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113 nav-item"><a href="/contact/" itemprop="url" id="accessible-primary-nav-1555077683038-18" role="group" aria-expanded="false" aria-hidden="true" class="sub-menu-panel"><span itemprop="name">Contact</span></a></li>

      </ul>
    </nav>
  </div>
</header>