$imp: '';

@mixin buttons( $important: false ) {
  @if $important == true {
    $imp: !important;
  }

  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color $imp;
  border-radius: $base-border-radius $imp;
  border: none $imp;
  border-bottom: none $imp;
  color: #fff $imp;
  cursor: pointer $imp;
  display: inline-block $imp;
  font-family: $base-font-family $imp;
  font-size: $base-font-size / 1.2 $imp;
  font-weight: 600 $imp;
  line-height: 1 $imp;
  padding: 0.75em 1em $imp;
  text-decoration: none $imp;
  user-select: none $imp;
  vertical-align: middle $imp;
  // white-space: nowrap $imp;

  &:hover,
  &:focus {
    background-color: lighten($action-color, 15%) $imp;
    color: #fff $imp;
  }

  &:disabled {
    cursor: not-allowed $imp;
    opacity: 0.5 $imp;
  }
}

#{$all-button-inputs},
button,
.button,
.content a.button {
  @include buttons;
}

